@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
$bg-img: url('./img/bg.png');
.formContainer {
  background-color: #a7bcff;
  background-color: #4ada80;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    background-color: white;
    background-color: #f4f4f4;
    
    padding: 20px 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 17px 50px 0 rgb(11 20 26 / 19%), 0 12px 15px 0 rgb(11 20 26 / 24%);

    .logo {
      color: #5d5b8d;
      
      color:  #008069;
      font-weight: bold;
      font-size: 24px;

    }

    .title {
      color: #5d5b8d;
      color: #09d261;
      font-size: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 15px;
        border: none;
        width: 250px;
        border-bottom: 1.5px solid #a7bcff;
        border-radius: 4px;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }
      .input-file{
        width: 40%;
        border-bottom: none;
      }
      input::file-selector-button {
        display: none;
        // font-weight: bold;
        // color: dodgerblue;
        // padding: 0.5em;
        // border: thin solid grey;
        // border-radius: 3px;
    }

      button {
        background-color: #7b96ec;
        background-color: #25d366;
        color: white;
        padding: 10px;
        font-weight: bold;
        border: none;
        cursor: pointer;
      }

      label {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 13px;
        color: #8da4f1;
        color: #008069;
        color:  #25d366;
        cursor: pointer;
        width: 280px;
        // border: 1px solid red;
        img {
          width: 32px;
        }
      }
    }
    p {
      color: #5d5b8d;
      font-size: 12px;
      margin-top: 10px;
    }
  }
}

.home {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    // border: 1px solid white;
    // border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    // @include tablet {
    //  width: 90%;
    // }

    .sidebar {
      flex: 1;
      background-color: #3e3c61;
      background-color: white;
      
      position: relative;
      // overflow-y: auto;
      .navbar {
        display: flex;
        align-items: center;
        background-color: #2f2d52;
        background-color: #f0f2f5;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        // color: #ddddf7;
        color: black;

        .logo {
          font-weight: bold;
          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;

          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          button {
            background-color: #5d5b8d;
            background-color: #4f4ffc;
            border-radius: 5px;
            color: white;
            font-weight:600;
            font-size: 10px;
            border: none;
            cursor: pointer;
            @include tablet {
              position: absolute;
              bottom: 10px;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid lightgray;
        .search-form-wrapper{
          padding: 8px 16px;
          .searchForm {
            padding: 10px;
            // outline: 2px solid red;
            display: flex;
            align-items: center;
            gap: 10px;
            background-color: #f0f2f5;
            border-radius: 10px;
            input {
              background-color: transparent;
              border: none;
              color: white;
              color: black;
              outline: none;

              &::placeholder {
                color: black;
              }
            }
          }
      }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        color: black;
        cursor: pointer;
        border-bottom: 1px solid lightgray;
        &:hover {
          background-color: #2f2d52;
          background-color: #f0f2f5;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
            color: lightgray;
            color: black;
          }
        }
      }
    }
    .chat {
      flex: 2;
      
      .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        background-color: #f0f2f5;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        padding: 10px;
        color: lightgray;
        color: black;
        border-left: 1px solid lightgrey;
      }

      .chatIcons {
        display: flex;
        

        font-size: 1.5rem;
        svg{
          color: gray;
          // outline:1px solid red;
          margin-left: 14px;
        }
      }
      .messages {
        // background-color: #ddddf7;
        background-color: rgb(247, 244, 238);
        // background-color: white;
        background-image: $bg-img;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        padding: 10px;
        height: calc(100% - 160px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
              background-color: white;

              padding: 10px 20px;
              border-radius: 0px 10px 10px 10px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.owner {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;
              p {
                background-color: #8da4f1;
                background-color: #d9fdd3;
                color: white;
                color: black;
                border-radius: 10px 0px 10px 10px;
              }
            }
          }
        }
      }

      .input {
        box-sizing: border-box;
        height: 70px;
        background-color: white;
        background-color: #f0f2f5;
        padding: 5px 15px;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        svg{
          font-weight: bold;
          cursor: pointer;
          color: grey;
        }
        input {
          width: 100%;
          height: 60%;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;
          padding: 0px 10px;
          &::placeholder {
            color: gray;
          }
        }

        .send {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            border: none;
            padding: 10px 15px;
            color: white;
            background-color: #8da4f1;
            background-color: #3a3aff;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

